<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/flagship.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Flagship Phones' + ${title == null ? '' : ' :: ' + title}">Flagship Phones</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Flagship Phones</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Register</a></li>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/list}">List</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/admin}" >Admin</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <!-- <li><a th:each="phone : ${phones}" th:if="${phone.model != null}" th:text="${phone.model}" th:remove="tag"></a></li> -->
                     <li><a th:each="user : ${users}" th:if="${user.usertype != null}" th:text="${user.usertype}" th:remove="tag"></a></li>    
            </ul>
        </div>
    </div>
</div>

</body>
</html>