<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <br></br>
    <h2>Flagship Phones</h2>
    <ul>
        <li><a th:href="@{/apple}">Apple</a></li>
        <li><a th:href="@{/samsung}">Samsung</a></li>
        <li><a th:href="@{/lg}">LG</a></li>
        <li><a th:href="@{/oneplus}">OnePlus</a></li>
        <li><a th:href="@{/motorolla}">Motorolla</a></li>
        <li><a th:href="@{/google}">Google</a></li>
    </ul>

</div>

</body>
</html>