<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>
    <br></br>
    <div class="leftimage">
        <a th:href="@{/apple}">
            <img alt="Apple Flagship Phones" title="Apple Flagship Phones" height="450" width="600"
            th:src="@{/image/iphone11s.png}" />
        </a>
    </div>    
    <div class="rightimage">
        <a th:href="@{/samsung}">
            <img alt="Samsung Flagship Phones" title="Samsung Flagship Phones" height="475" width="500"
            th:src="@{/image/s20line.png}" />
        </a>
    </div>
    <li><a th:href="@{/lg}">LG</a></li>
    <li><a th:href="@{/oneplus}">OnePlus</a></li>
    <li><a th:href="@{/motorola}">Motorola</a></li>
    <li><a th:href="@{/google}">Google</a></li>
    


</body>
</html>