<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr/>

<table class="phone-listing">
    <tr th:each="phone : ${phones}">
            <td>
                <p>
                    Phone ID:
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.id}"></a>
                <p>
                    Brand Name: 
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.name}"></a>
                </p>
                <p>
                    Model:
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.model}"></a>
                </p>
                <p>
                    Retail Price: $
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.price}"></a>
                </p>
                <p>
                    Size:  
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.size}"></a>
                </p>
                <p>
                    Colors:  
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.colors}"></a>
                </p>
                <p>
                    Build:  
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.build}"></a>
                </p>
                <p>
                    Water Resistance:  
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.resistance}"></a>
                </p>
                <p>
                    Processor: 
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.processor}"></a>
                </p>
                <p>
                    Operating System: 
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.os}"></a>
                </p>
                <p>
                    RAM: 
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.ram}"></a>
                </p>
                <p>
                    Camera: 
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.camera}"></a>
                </p>
                <p>
                    Battery:
                <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.battery}"></a>
                </p>
                <p>
                    Storage Options:
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.storage}"></a>
                </p>
                <p>
                    Speakers: 
                    <a th:href="@{'/view/' + ${phone.id}}" th:text="${phone.speakers}"></a>
                </p>
                <hr></hr>
            </td>
            <td>
                <div class="rightImage">
                    <img th:src="${'data:image/png;base64,' + phone.image}"  alt="image" width="350">
            </td>
            </div>
    </tr>
</table>
</div>
</body>
</html>