<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<h1 th:text="${'Brand Name: ' + #strings.capitalize(phone.name)}">Default Title</h1>
<nav th:replace="fragments :: page-header"></nav>
<br></br>
<div class="phone-listing">
<div class="text">
    <p th:text="${'Phone ID: ' + phone.id}"></p>
    <p th:text="${'Brand Name: ' + #strings.capitalize(phone.name)}"></p>
    <p th:text="${'Model: ' + phone.model}"></p>
    <p th:text="${'Retail Price: $ ' + phone.price}"></p>
    <p th:text="${'Screen Size: ' + phone.size}"></p>
    <p th:text="${'Colors: ' + phone.colors}"></p>
    <p th:text="${'Build: ' + phone.build}"></p>
    <p th:text="${'Water Resistance: ' + phone.resistance}"></p>
    <p th:text="${'Processor: ' + phone.processor}"></p>
    <p th:text="${'Operating System: ' + phone.os}"></p>
    <p th:text="${'RAM: ' + phone.ram}"></p>
    <p th:text="${'Camera: ' + phone.camera}"></p>
    <p th:text="${'Battery Size: ' + phone.battery}"></p>
    <p th:text="${'Storage Options: ' + phone.storage}"></p>
    <p th:text="${'Dual Speakers: ' + phone.speakers}"></p>
</div>
<div class="image">
    <br></br>
    <p th:if="${#strings.toLowerCase(phone.model) == 'iphone 11 pro'}">
        <img th:src="@{/image/iphone11pro.png}" alt="image" height="500" width="400">
    </p>       
    <p th:if="${#strings.toLowerCase(phone.model) == 'iphone 11 pro max'}">
        <img th:src="@{/image/iphone11promax.png}" alt="image" height="500" width="500">
    </p>     
    <p th:if="${#strings.toLowerCase(phone.model) == 'iphone 11'}">
        <img th:src="@{/image/iphone11.png}" alt="image" height="500" width="500">
    </p> 
    <p th:if="${#strings.toLowerCase(phone.model) == 'edge +'}">
        <img th:src="@{/image/motoedgeplus.png}" alt="image" height="500" width="500">
    </p> 
</div>
</div>
</body>
</html>